
{% if request.user.is_authenticated %}

<nav class="navbar bg-dark">
    <h1>
      <a href="{% url 'index' %}" ><i class="fas fa-code"></i> DevConnector</a>
    </h1>
    <ul>
      <li>
        <a href="{% url 'profiles' %}">Developers</a>
      </li>
      <li>
        <a href="{% url 'posts' %}" >Posts</a>
      </li>
      <li>
        <a href="{% url 'dashboard' %}" title="Dashboard"><i class="fas fa-user"></i>
        <span class="hide-sm">Dashboard</span></a
      >
    </li>
    <li>
      <a href="{% url 'login' %}" title="Logout">
        <i class="fas fa-sign-out-alt"></i>
        <span class="hide-sm">Logout</span></a
      >
    </li>
  </ul>
</nav>
{% else %}

<nav class="navbar bg-dark">
    <h1>
      <a href="{% url 'dashboard' %}"> <i class="fas fa-code"></i> DevConnector </a>
    </h1>
    <ul>
      <li>
        <a href="{% url 'profiles' %}">Developers</a>
      </li>
      <li>
        <a href="{% url 'register' %}">Register</a>
      </li>
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
    </ul>
  </nav>
{% endif %}

